@import "tailwindcss";

body{
  font-family: var(--font-kanit);
}

.img-shadow{
  filter: drop-shadow(45px 50px 25px #0f1115);
}

.img-shadow2{
  filter: drop-shadow(10px 30px 15px #0f1115);
}

.input-style{
    @apply px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:border-orange-400 ;
}

.primary-btn{
    @apply bg-orange-400 text-white px-4 py-2 rounded-md hover:bg-orange-500 transition-all duration-300 cursor-pointer;
}